.slide-marker__unit {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid $white;
  margin: 0px 0px 0px 5px;
}

.slide-marker__unit--active {
  background: $white
}

.slide-marker__unit--unactive {
  background: none;
}